@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arvo, Raleway;
    font-weight: 400;
    color: orange;
}

/* headings and logo */

h1, h2 {
    font-family: Arvo, Raleway;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: darkorange;
}

#logo {
    float: left;
    font-size: 290%;
    margin-left: 40px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 90px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid lightsalmon;
}

.active {
    border-bottom: 1px solid lightsalmon;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
}

/* community culture */

#community-culture  {
    margin-left: 40px;
}

/* bottom image */
     
#bottom-image {
    height: 600px;
    width: 100%;
    background: url('../images/bottom-image.jpg') no-repeat center center;

}

/* footer */

footer {
    height: 140px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    margin-top: 1%;
    padding: 5%;
    color: orange;
}


